body {
    background: #fff;
    width: 1440px;
    height: 3718px;
}
.banner { 
    width: 1440px;
    height: 1093px;
    flex-shrink: 0;
    fill: #071629;
    background: radial-gradient(85.90% 85.90% at 50.00% 14.10%, rgba(41, 48, 61, 0.00) 0%, #071629 100%), #000;
    background-blend-mode: normal, color;
}
.background {
    background-image: url(images/Object.png);
    width: 1440px;
    height: 987px;
    flex-shrink: 0;
}

/* HEADER ================= */

.logo {
    
    flex-shrink: 0;
    margin-left: 200px;
    display: flex;
    justify-content: flex-start;
}
.logo a {
    margin-top: 20px;
    width: 167.016px;
    height: 29.461px;
}

.menu {
    display: flex;
    height: 15px;
    justify-content: flex-end;
    /* align-items: flex-start; */
    gap: 52px;
    margin-right: 169px;
}

.menu a {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
